rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    
    // প্রোডাক্টস কালেকশন রুলস
    match /products/{productId} {
      allow read: if true;
      allow write: if request.auth != null && request.auth.token.email == 'mixorasmartshop@gmail.com';
    }

    // ক্যাটাগরি কালেকশন রুলস
    match /categories/{categoryId} {
      allow read: if true;
      allow write: if request.auth != null && request.auth.token.email == 'mixorasmartshop@gmail.com';
    }

    // অর্ডার কালেকশন রুলস
    match /orders/{orderId} {
      allow create: if true;
      allow read, update, delete: if request.auth != null && request.auth.token.email == 'mixorasmartshop@gmail.com';
    }
  }
}